#app {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 24px;
}

.board {
    position: relative;
    color: white;
    margin: auto;
}

.cell {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}
